body {
    font-family: 'Roboto', sans-serif;
}

header, footer {
    /* background: linear-gradient(90deg, rgba(255,240,240,1) 0%, rgba(147,216,245,0) 35%, rgba(29,80,120,1) 100%), url(./img/FONDO\ 1.png); */
    background-image: url(./img/FONDO\ GG.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: #1d5078;
    font-size: 2rem;
    padding-left: 5%;
    text-align: left;
    font-weight: bold;
}

h3, h2 {
    color: #1d5078;
    font-size: 2rem;
    text-align: left;
    font-weight: bold;
}

h5 {
    color: #1d5078 !important;
    font-weight: bold;
}

p { 
    color: #1d5078;
    font-size: 1.5rem;
    text-align: left;
}

p.masthead-heading {
    padding-left: 5% !important;
}

@media screen and (max-width: 768px) {
    p {
        font-size: 1rem;
    }
}

i {
    font-size: 2rem;
}

#logo {
    width: 150px;
}

#logo_cuadrado {
    width: 80px;
}

.btn-primary {
    background-color: white !important;
    border-color: #1d5078 !important;
    color: #1d5078 !important;
}

.btn-primary:hover {
    background-color: #1d5078 !important;
    color: white !important;
}

.btn-outline-primary {
    border-color: #1d5078 !important;
    color: #1d5078 !important;
}

.btn-outline-primary:hover {        
    background-color: #1d5078 !important;   
    color: white !important;
}

.navbar-nav {
    padding-left: 42% !important;
}

.nav-link {
    color: #042c4b !important;
    font-weight: bold;
}

.nav-link.active {
    background-color: #1d5078 !important;
    color: white !important;
}

.nav-link:hover {
    color: white !important;
    font-weight: bold;
}

.card-text {
    color: #1d5078 !important;
    font-size: 1rem;
}

#servicios {
    align-items: center;
    /* padding-left: 20% !important; */
}

@media screen and (max-width: 768px) {
    #servicios {
        padding-left: 3% !important;
        padding-right: 3% !important;
    }
}

#copyright {
    color: #1d5078 !important;
    padding-left: 5%;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    #copyright {
        font-size: 14px;
        text-align: center;
    }
}